:root {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}

#page {
  box-sizing: border-box;
  width: 1120px;
  margin: 88px 80px 65px;
  align-items: center;
}

.p-viagem {
  margin-bottom: 8px;
  color: #E1624F;
}

h1,h2 {
  margin: 0;
}

img {
  border-radius: 28px;
}

#description-img {
  margin: 40px auto;
}

#description {
  font-style: italic;
  text-align: center;
  margin-top: 24px;
  padding-bottom: 4px;
}

#title-list {
  margin: 64px auto;
}

.p-historia {
  margin-bottom: 2px;
  color: #E1624F;
}

h2 {
  margin-bottom: 8px;
}

p {
  margin: 0;
}

h3 {
  margin: 20px auto 4px;
}

#history {
  font-weight: bold;
  color: #0C51A7;
}

#casais {
  font-weight: bold;
  color: #591B98;
}

#familias {
  font-weight: bold;
  color: #E5245E;
}

#orcamento {
  font-weight: bold;
  color: #E95E10;
}

#divisor {
  margin: 40px auto;
}

#description {
  text-align: center;
  padding: 0;
  margin: 0;
}

footer {
  text-align: center;
  margin: 65px auto 48px;
}

footer img {
  vertical-align: middle;
}